
WebAPI/.vs/ProjectEvaluation/webapi.metadata.v5.1
WebAPI/.vs/ProjectEvaluation/webapi.projects.v5.1
WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
WebAPI/.vs/WebAPI/v17/.futdcache.v2
WebAPI/.vs/WebAPI/v17/.suo
