<app-header></app-header>

  <div class="container-xxl bd-gutter">
    <div class="row align-items-md-stretch">
      <h4 class="p-5 display-5 fw-bold" style="margin-bottom: 0px;">Gasolineras</h4>
        <div class="col-md-6 mb-4 bg-light rounded-3">
          <div class="container-fluid">
            <div class="form-group">
                <p class="lead mb-4"><b>Busca por localidad: </b></p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                  <input #localidad type="text" value="" class="col form-control px-4 me-sm-3" id="localidad" aria-describedby="localidad" placeholder="Localidad">
                  <button type="submit" class="col btn btn-secondary btn-lg px-4" (click)="getGasolinerasByLocalidad(localidad.value)">Buscar</button>
                </div>
                <app-mapa [latitud]="this.latitudGasolinera" [longitud]="this.longitudGasolinera"></app-mapa>
              </div>
            <br>
            <br>
            <!-- <app-mapa [latitud]="{{gasolinera.features[0].attributes.Latitud}}" [longitud]="{{gasolinera.features[0].attributes.Longitud}}"></app-mapa> -->
          </div>
        </div>

        <div class="col-md-6 mb-4 bg-light rounded-3">
          <div class="container-fluid">
            <div class="form-group">
                <p class="lead mb-4"><b>Busca por provincia: </b></p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                  <input #provincia type="text" value="" class="col form-control px-4 me-sm-3" id="provincia" aria-describedby="provincia" placeholder="Provincia">
                  <button type="submit" class="col btn btn-secondary btn-lg px-4" (click)="getGasolinerasByProvincia(provincia.value)">Buscar</button>
                </div>
                <!-- <app-mapa [latitud]="36.7275974" [longitud]="-4.4208521"></app-mapa> -->
                <app-mapa [latitud]="latitudGasolinera" [longitud]="longitudGasolinera"></app-mapa>
              </div>
            <br>
            <br>
            <!-- <app-mapa [latitud]="{{gasolinera.features[0].attributes.Latitud}}" [longitud]="{{gasolinera.features[0].attributes.Longitud}}"></app-mapa> -->
          </div>
        </div>
      </div>
  </div>

<app-footer></app-footer>
